html {
  font-family: Roobert,Helvetica Neue,Helvetica,Arial,sans-serif;
}
body {
  margin: 0;
  background-color: rgb(31, 31, 35); /*rgb(24, 24, 27);*/
  min-width: 240px;
  min-height: 64.4px;
}
#spinner {
  width: 20px;
  height: 20px;
  border-radius: 50%;
  border: .25em solid white;
  border-right-color: transparent;
  margin: 20px auto;
  -webkit-animation: spinner .75s linear infinite;
  animation: spinner .75s linear infinite;
}
@keyframes spinner {
  to { transform: rotate(360deg); }
}
::-webkit-scrollbar {
  background: transparent;
  position: absolute;
  right: 0px;
  width: 6px;
  right-margin: 2px;
}
::-webkit-scrollbar-thumb {
  width: 6px;
  height: 50%;
  border-style: solid;
  border-width: 1px;
  border-color: rgb(140, 140, 140);
  border-radius: 7px;
}
#top-bumper {
  background-color: rgb(24, 24, 27);
  box-shadow: rgba(0, 0, 0, 0.9) 0px 1px 2px 0px, rgba(0, 0, 0, 0.9) 0px 0px 2px 0px;
  width: 100%;
  height: 30px;
}
#status-bar {
  background-color: rgb(31, 31, 35);
  width: 100%;
  border-top: solid 1px rgba(255, 255, 255, 0.1);
  position: absolute;
  bottom: 0px;
}
#status-bar-inner {
  display: flex;
  justify-content: space-between;
  padding: 5px 60px;
}
.status-icon {
  width: 20px;
  height: 20px;
}
.status-success {
  --color_fill: rgb(24, 194, 0);
}
.status-fail {
  --color_fill: grey;
}

#empty-list-msg {
  display: None;
  margin: 20px 0;
  text-align: center;
  font-size: 14px;
  font-weight: 400;
  text-size-adjust: 100%;
  color: #dedee3;
}
a {
  text-decoration: none;
}
#live-list {
  list-style-type: none;
  margin: 0;
  margin-bottom: 34px;
  padding: 0;
  max-height: 350px;
  overflow-x: hidden;
  overflow-y: overlay;
}
.live-row {
  display: flex;
  flex-wrap: nowrap;
  align-items: center;
  width: 220px;
  padding: 5px 10px;
  font-size: 14px;
  font-weight: 400;
  text-size-adjust: 100%;
  color: #dedee3;
}
.live-row:hover {
   background-color: #26262c;
}
.stream-avatar {
  display: inline-block;
  border-radius: 50%;

  /* Sets width to 30px in flex. */
  flex-basis: 30px;
  flex-grow: 0;
  flex-shrink: 0;
  height: 30px;
}
.live-row-text-panel {
  display: flex;
  flex-wrap: nowrap;
  width: 100%;
  justify-content: space-between;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.name-and-game {
  display: block;
  width: 100%;
  margin-left: 10px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.stream-game {
  /* Streamers don't necessarily need to be under a game */
  min-height: 16px;
  font-size: 12px;
  color: rgb(173, 173, 184);
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.view-count-panel {
  display: flex;
  flex-wrap: nowrap;
  align-items: baseline;
  margin-left: 5px;
  width: 45px;
}
.live-symbol {
  border-radius: 50%;
  height: 8px;
  width: 8px;
  display: inline-block;
}
.twitch-live-symbol {
  background-color: rgb(169, 112, 255);
}
.mixer-live-symbol {
  background-color: #4ab8eb;
}
.youtube-live-symbol {
  background-color: rgb(204, 0, 0);
}
.view-count-text {
  display: inline-block;
  font-size: 12px;
  margin-left: 5px;
}
