@font-face {
    font-family: Roobert;
    font-weight: 400;
    src: url(/libs/regular.woff2) format("woff2")
}

@font-face {
    font-family: Roobert;
    font-weight: 600;
    src: url(/libs/semibold.woff2) format("woff2")
}

@font-face {
    font-family: Roobert;
    font-weight: 700;
    src: url(/libs/bold.woff2) format("woff2")
}

body {
  margin: 0px !important;
  border: 1px solid rgb(31, 31, 35);
  min-width: 240px;
  color: rgb(239, 239, 241);
  font-family: Roobert, "Helvetica Neue", Helvetica, Arial, sans-serif;
  user-select: none;
}
p {
  margin: 0;
}
input {
  cursor: default;
  margin: 0;
  padding: 0;
  width: 0;
  height: 0;
}

#main {
  background-color: rgb(24, 24, 27);
}
.header-footer {
  background-color: rgb(31, 31, 35);
}

#header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  border-bottom: solid 1px rgba(255, 255, 255, 0.1);
}
#logo {
  height: 20px;
}
#title {
  margin: 0;
  font-size: 12px;
  font-weight: 600!important;
  cursor: default;
  white-space: nowrap;
}
.header-element {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 40px;
  width: 40px;
}
#spinner {
  width: 20px;
  height: 20px;
  border-radius: 50%;
  border: .25em solid white;
  border-right-color: transparent;
  margin: 20px auto;
  -webkit-animation: spinner .75s linear infinite;
  animation: spinner .75s linear infinite;
}
@keyframes spinner {
  to { transform: rotate(360deg); }
}
#top-bumper {
  background-color: rgb(24, 24, 27);
  box-shadow: rgba(0, 0, 0, 0.9) 0px 1px 2px 0px, rgba(0, 0, 0, 0.9) 0px 0px 2px 0px;
  width: 100%;
  height: 30px;
}
#status-bar {
  background-color: rgb(31, 31, 35);
  width: 100%;
  border-top: solid 1px rgba(255, 255, 255, 0.1);
}
#status-bar-inner {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 5px 60px;
}
.status-icon {
  width: 20px;
  height: 20px;
}
.status-success, .status-fail {
  display: flex;
  align-items: center;
}
.status-success {
  --color_fill: rgb(24, 194, 0);
}
.status-fail {
  --color_fill: grey;
}
.info-msg {
  display: None;
  margin: 20px 0;
  text-align: center;
  font-size: 14px;
  font-weight: 400;
  text-size-adjust: 100%;
  color: #dedee3;
}
a {
  text-decoration: none;
}
.scroll-bar {
  box-shadow: 0 0 1px 1px hsla(0,0%,100%,.25);
  border-radius: 7px;
  opacity: 1;
}
#live-list {
  display: none;
  margin: 10px;
  height: auto;
  max-height: 422px;
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow-y: hidden;
}
.live-row {
  display: flex;
  flex-wrap: nowrap;
  align-items: center;
  width: 220px;
  height: 32px;
  padding: 5px 10px;
  font-size: 14px;
  font-weight: 400;
  text-size-adjust: 100%;
  color: #dedee3;
}
.live-row:hover {
   background-color: #26262c;
}
.stream-avatar {
  display: inline-block;
  border-radius: 50%;
  line-height: 18px;

  /* Sets width to 30px in flex. */
  flex-basis: 30px;
  flex-grow: 0;
  flex-shrink: 0;
  height: 30px;
}
.live-row-text-panel {
  display: flex;
  flex-wrap: nowrap;
  width: 100%;
  justify-content: space-between;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.name-and-game {
  display: block;
  width: 100%;
  margin-left: 10px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.stream-name {
  font-weight: 600!important;
  line-height: 16.8px;
}
.stream-game {
  /* Streamers don't necessarily need to be under a game */
  min-height: 14px;

  line-height: 14.4px;
  font-size: 12px;
  color: rgb(173, 173, 184);
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.view-count-panel {
  display: flex;
  flex-wrap: nowrap;
  align-items: baseline;
  margin-left: 5px;
  min-width: 40px;
}
.live-symbol {
  border-radius: 50%;
  height: 8px;
  width: 8px;
  display: inline-block;
  line-height: 18px;
}
.twitch-live-symbol {
  background-color: rgb(169, 112, 255);
}
.mixer-live-symbol {
  background-color: #4ab8eb;
}
.youtube-live-symbol {
  background-color: rgb(204, 0, 0);
}
.view-count-text {
  display: inline-block;
  font-size: 12px;
  margin-left: 5px;
  line-height: 18px;
}

#settings-icon {
  z-index: 1;
  --gear_color_fill: rgb(239, 239, 241);
  height: 20px;
  width: 20px;
  padding: 2px;
  border-radius: 4px;
  cursor: pointer;
  outline-style: none;
}
#settings-menu {
  display: none;
}
.setting-row {
  display: flex;
  font-size: 12px;
  padding: 15px;
}
.setting-label {
  flex-grow: 1;
  font-weight: 400;
}
.toggle-switch {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 35px;
  height: 20px;
}
.ts-button {
  background-color: rgba(255, 255, 255, 0.3);
  border-radius: 10px/50%;
  box-shadow: rgba(0, 0, 0, 0.9) 0px 1px 2px 0px, rgba(0, 0, 0, 0.9) 0px 0px 2px 0px;;
  content: "";
  cursor: pointer;
  display: inline-block;
  height: 20px;
  order: 0;
  position: relative;
  transition: background-color .1s ease;
  vertical-align: bottom;
  width: 35px;
}
.ts-button:after {
  background-color: white;
  border-radius: 50%;
  bottom: 2px;
  content: "";
  display: block;
  left: 2px;
  position: absolute;
  top: 2px;
  transition: transform .1s ease;
  width: 16px;
}
.ts-input {
  opacity: 0;
  position: absolute;
}
input:checked + .ts-button {
  background-color: rgb(145, 71, 255);
}
input:checked + .ts-button:after {
  transform: translateX(15px);
}
